

/*Following is buttons*/


svg#knapp {
  width: 263px;
  height: 56px;
  z-index: 1;
}
.knapp {
  position: relative;
  width: 263px;
  height: 56px;
  margin: 10px;

}

.skugga, .rektangelhover, .pil {
  stroke: white;

}
.skugga, .rektangel, .rektangelhover {
  stroke-width: 4px;
}
.rektangel {
  fill: #ffffff;



}
.rektangelhover {

  fill: transparent;
  stroke: #0000ff;
  fill-rule: evenodd;
  stroke-dasharray:560px;
  stroke-dashoffset:560px;
  transition: stroke-dashoffset 0.3s linear 0.2s, transform 0.3s ease;
}
.skugga {
  fill: none;
  fill-rule: evenodd;
  stroke-dasharray:295px;
  stroke-dashoffset:0;
  transition: stroke-dashoffset 0.2s ease;

}
.pil {
  stroke: #cccccc;
  fill: none;
  stroke-width: 1.5px;
  stroke-dasharray:18px;
  stroke-dashoffset:18px;
  transition: transform 0.3s ease, stroke-dashoffset 0.5s ease, stroke 0.2s ease 0.3s;
}
.txt {
  font-family: 'Futura';
  font-weight: 700;
  text-transform: uppercase;
  text-anchor: middle;
  font-size: 14px;
  letter-spacing: 3px;
  fill: black;
  transform:translate(118px, 32px);
  transition: transform 0.3s ease, fill 0.2s ease 0.3s;
}
.rektangel {
  transition: transform 0.5s ease-out;
  width: 263px;
}
.knappsvg {
  position: absolute;
  width: 263px;

}
.knapp:hover .skugga {
  stroke-dashoffset:-296px;
}
.knapp:hover .pil, .knapp:hover .rektangelhover {
  stroke-dashoffset:0px;
  stroke: #0000ff;
}
.knapp:hover .txt {
  fill: #0000ff;
  transform:translate(113px, 40px);
}
.knapp:hover .rektangel, .knapp:hover .rektangelhover, .knapp:hover .pil {
  transform:translate(8px, 8px);
}

/*end buttons */

/*Lookbook follows*/

@keyframes lookbook {
  0%{}
  50% {opacity: 0;}

  100% {opacity: 1; background-blend-mode: normal;}
}


@keyframes
