

/*Following is buttons*/


svg#knapp {
  width: 263px;
  height: 56px;
  z-index: 1;
}
.knapp {
  position: relative;
  width: 263px;
  height: 56px;
  margin: 10px;

}

.skugga, .rektangelhover, .pil {
  stroke: black;

}
.skugga, .rektangel, .rektangelhover {
  stroke-width: 4px;
}
.rektangel {
  fill: #ffffff;
  stroke: black;


}
.rektangelhover {

  fill: transparent;

  fill-rule: evenodd;
  stroke-dasharray:560px;
  stroke-dashoffset:560px;
  transition: stroke-dashoffset 0.3s linear 0.2s, transform 0.3s ease;
}
.skugga {
  fill: none;
  fill-rule: evenodd;

  stroke-dashoffset:0;
  transition: transform 0.2s ease-out;

}
.pil {
  stroke: #cccccc;
  fill: none;
  stroke-width: 1.5px;
  stroke-dasharray:18px;
  stroke-dashoffset:18px;
  transition: transform 0.2s ease, stroke-dashoffset 0.5s ease, stroke 0.2s ease;
}
.txt {
  font-family: 'Futura';
  font-weight: 700;
  text-transform: uppercase;
  text-anchor: middle;
  font-size: 14px;
  letter-spacing: 3px;
  fill: black;
  transform:translate(118px, 32px);
  transition: transform 0.2s ease, fill 0.2s ease;
}
.rektangel {
  transition: transform 0.2s ease-out;
  width: 263px;
}
.knappsvg {
  position: absolute;
  width: 263px;

}

.knapp:hover .knapp:hover .rektangelhover {
  stroke-dashoffset:0px;

}

.knapp:hover .pil{
  stroke-dashoffset: 0;

  stroke: black;
}
.knapp:hover .txt {
  fill: #76C883;
  transform:translate(113px, 36px);
}
.knapp:hover .rektangel, .knapp:hover .rektangelhover, .knapp:hover .pil {
  transform:translate(4px, 4px);
}

.knapp:hover .skugga {
  transform: translate(-4px, -4px);
}

/*end buttons */

/*Lookbook follows*/

@keyframes lookbook {
  0%{}
  50% {opacity: 0;}

  100% {opacity: 1; background-blend-mode: normal;}
}


@keyframes logoslideLeft {
  0%,60% {
    opacity: 0;
    transform: translate(-2rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes logoslideRight {
  0%,60% {
    opacity: 0;
    transform: translate(1rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

/*Symbol SVGS*/
.symbol {
  width: 100px;
  margin-bottom: 0.5rem;


}

.cls-1 {


  transition: 1s ease;
}

svg:hover .cls-1 {

  stroke-dashoffset: 0;
}
