body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 375px;
}
@font-face {
  font-family: 'Parabola';
  src: url('../momentiris/thrive/Fonts/parabolaweb.ttf');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('../momentiris/thrive/Fonts/futura_light.ttf');
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.section_1 {
  perspective: 1px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #0d1814;
  background-image: url(heroimage.png);
  background-blend-mode: luminosity;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  background-attachment: fixed;

}

.topmobile1 {
  width: 100vw;
  height: 20vh;

}

.header1 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'FuturaLight';
}


.thriveheader {
  margin-top: 45px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
}

.conscious {
  margin:0;
  font-family: 'FuturaLight';
  font-size: 10px;
  color: white;
}

.middlemobile1 {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: 1s ease-out:
}

.ingress {
  font-family: Parabola;
  text-align: left;

  font-size: 36px;
  line-height: 1.3;
  margin-left: 34px;
  color: white;


}

.bottommobile1 {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.triangle {
  align-self: center;
}
.buttonwrap {
  height: 300px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}

/*Section 2 follows*/

.section_2 {
  height: 100vh;
  width: 100vw;
  background-color: #76C8A8;
}






.slide1wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide2wrap {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
