* {
  box-sizing: border-box;
}
p{
  font-family: 'Futura'
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

}
@font-face {
  font-family: 'Parabola';
  src: url('../momentiris/thrive/Fonts/parabolaweb.ttf');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('../momentiris/thrive/Fonts/futura_light.ttf');
}
@font-face {
  font-family: 'FuturaMedium';
  src: url('../momentiris/thrive/Fonts/Futura_Medium.otf');
}

h1 {
  margin: 0;
  font-family: 'Parabola';
}
h2 {
  margin: 0;
  margin-right: 0;
}

 /*Section one css. the ".framelogobox_top" also applies to other frame logos*/

.framelogobox_top {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(./framelogo.png);
  background-repeat: no-repeat;
  background-size: 140px 16px;
  background-position: 50% 2%;
  z-index: 1;

}

.framelogobox_right {
  background-image: url(./framelogo_90.png);
  background-repeat: no-repeat;
  background-size: 16px 140px;
  height: 100vh;
  width: 100vw;
  background-position: 98% 50%;
  position:absolute;
  z-index: 5;

}
.framelogobox_bottom {
  width: 100vw;
  height: 100vh;

  background-image: url(./framelogo.png);
  background-repeat: no-repeat;
  background-size: 140px 16px;
  position: absolute;
  background-position: 50% 98%;
  z-index: 0;
}
.framelogobox_left {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url(./framelogo_-90.png);
  background-repeat: no-repeat;
  background-size: 16px 140px;
  background-position: 2% 50%;
}


.section_1 {
  background-color: #1C0E0E;
  background-image: url(heroimagefull.png);
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  background-attachment: fixed;
  transition: all .4s ease;
}

.middlemobile1 {
  margin-left: 0;
  height: 60vh;
  width: 90vw;
  padding-top: 15vh;
  padding-left: 15vw;

}

.ingress {
  font-family: Parabola;
  text-align: left;
  font-weight: lighter;
  font-size: 2.6em;
  line-height: 1.1;
  color: white;
  width: 100%;
  transition: all .3s ease;



}

.green {
  color: #76C8A8;

}

.bottommobile1 {
  height: 40vh;
  display: flex;
  width: 100vw;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  transition: all .2s ease;
}

.buttonwrap {
  transition: all 1s ease;
  height: 130px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 47px;

}


/*Section 2 follows*/

.section_2 {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.second_framelogobox_top {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 140px 16px;
    background-image: url(framelogo_black.png);
    background-position: 50% 3%;
    opacity: 0.5;

}

.second_framelogobox_right {
  position: absolute;
  background-image: url(framelogo_black_90.png);
  background-position: 97% 50%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 16px 140px;

}
.second_framelogobox_bottom {
  position: absolute;
  background-image: url(framelogo_black.png);
  background-position: 50% 97%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 140px 16px;

}
.second_framelogobox_left {
  position: absolute;
  background-image: url(framelogo_black_-90.png);
  background-position: 3% 50%;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 16px 140px;
}

.section_2_text_wrap {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.section_2_text_webb {
  color: #76C8A8;
  font-family: 'Futura';
  font-size: 16px;
  line-height: 1.5;
  padding-top: 77px;
  padding-left: 56px;
  padding-right: 56px;
  margin: 0;
  height: 80vh;
}

/*section 3 follows*/

.section_3 {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .1s ease;
}

.section_3_background {

  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background-image: url(section_3_image.png);
  background-position: 40% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(4px);
  overflow-y: hidden;
  position: absolute;
  z-index: 0;
  transition: all .1s ease;

}

.mobilknapp {
  visibility: visible;
}
.webbknapp {
  visibility: hidden;
}
.section_3_text_webb {
  display: none;
}

.section_3_text_mobile {
  margin-bottom: 40px;
  color: white;
  z-index: 1;
  font-size: 79px;
  font-weight: lighter;
  text-align: center;
}

/*Section 4 - lookbook follows*/


.section_4, .lookbook_wrap {
  width: 100vw;
  height: 100vh;
    background-color: #1C0E0E;

}

.lookbook_wrap {
  position: relative;
  background-color: #1C0E0E;
  display: flex;



}

.lookbook_one {
  width: 136px;
  height: 204px;
  top: 0;
  left: 50%;
  background-size: contain;
  background-image: url(section_4_one.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: all .5s ease-out;
  cursor: pointer;
  background-blend-mode: luminosity;



}


.lookbook_two {
  width: 115px;
  height: 143px;
  background-image: url(./lookbookimages/lookbook_2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 10%;
  top: 15%;
  transition: all .5s ease;
  overflow: scroll;

  background-blend-mode: luminosity;
}

.lookbook_three {
  width: 124px;
  height: 186px;
  background-image: url(./lookbookimages/lookbook_3.png);
  background-size: contain;
  background-repeat: no-repeat;

  top:35%;
  left: 60%;
  transition: all .5s ease;

  background-blend-mode: luminosity;
}


.lookbook_four {
  width: 218px;
  height: 146px;
  background-image: url(./lookbookimages/lookbook_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  top: 39%;
  left: 0%;
  transition: .5s ease;
  background-position: center;
  background-blend-mode: luminosity;

}



.lookbook_five {
  width: 176px;
  height: 117px;
  background-image: url(./lookbookimages/lookbook_5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  top: 70%;
  left: 50%;
  transition: all .5s ease;

  background-blend-mode: luminosity;
}


.lookbook_six {

  width: 143px;
  height: 216px;
  background-image: url(./lookbookimages/lookbook_6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  top: 65%;
  left: 7%;
  transition: all .5s ease;

  background-blend-mode: luminosity;
}

.lookbook_clicked {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;

  animation-name: lookbook;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: forwards, backwards;
  opacity: 1;



}
.lookbook {
position: absolute;
background-color:#1C0E0E;
z-index: 5;
opacity: 0.5;
transition: all 1s ease;
background-position: center;
}

@keyframes fadeout {
  0%, 60% {}
    100% {opacity: 0;}
}

.lookbook_opacity{

  animation-name: fadeout;
  animation-delay: .5s;
  animation-duration: .5s;
  animation-fill-mode: both;
}




 /*Section 5 and first slideshow follows*/

.section_5 {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

  .test1 {
    width: 100vw;
    height: 100vh;
    background-color: red;
    min-width: 100vw;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .test2 {
    width: 100vw;
    height: 100vh;
    background-color: green;
    min-width: 100vw;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .test2_clicked {
    margin-left: 100vw;
  }

  .test3 {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    min-width: 100vw;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .test3_clicked {

  }

  .navigation {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 67px;
    background-color: blue;
    overflow: scroll;
  }

  .navigationwrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-flow: row nowrap;
    display: flex;
    overflow: scroll;
    scroll-behavior: auto;

  }

  /*Section 6 will be under this */

  .section_6 {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;
  }



  .infographics_wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    z-index: -1;

  }
  .infographics_wrap_inner {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;


  }


  .info_slide {
    height: 100vh;
    width: 100vw;
    min-width: 100vw;

  }

  .slide_one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./Infographics_bilder/infographics_bg_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
  }

  .infographics_svg_1 {
    width: 50vw;
    max-width: 395px;
    max-height: 395px;
  }

  .infographics_1_ingress {
    font-size: 5em;
    font-weight: 100;
    margin-top: 0.5em;
    color: #76C8A8;
  }

  .infographics_1_text {
    width: 80vw;
    max-width: 300px;
    text-align: center;
    color: white;

  }

  .slide_two {
    background-image: url(./Infographics_bilder/infographics_bg_2.png)
  }

  .slide_three {
    background-image: url(./Infographics_bilder/infographics_bg_3.png)
  }
