* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-width: 375px;
}
@font-face {
  font-family: 'Parabola';
  src: url('../momentiris/thrive/Fonts/parabolaweb.ttf');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('../momentiris/thrive/Fonts/futura_light.ttf');
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}

.section_1 {

  background-color: #0d1814;
  background-image: url(heroimagefull.png);
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  /*background-position:0px 0px;*/

  background-position: 1% 1%;
   background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0;
  background-attachment: fixed;
  transition: .2s ease;
}

.topmobile1 {
  width: 100vw;
  height: 20vh;

}

.header1 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'FuturaLight';
}


.thriveheader {
  margin-top: 45px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: white;
}

.conscious {
  margin:0;
  font-family: 'FuturaLight';
  font-size: 10px;
  color: white;
}

.middlemobile1 {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  transition: 1s ease-out:
}

.ingress {
  font-family: Parabola;
  text-align: left;
  font-size: 36px;
  line-height: 1.3;
  margin-left: 34px;
  color: white;
}

#ska, #vi, #animera {
  color: #76C8A8;
}

.bottommobile1 {
  height: 40vh;
  display: flex;
  width: 100vw;
  align-items: flex-end;
  justify-content: center;
  position: relative;

}

.triangle {
  align-self: center;
}
.buttonwrap {
  height: 20vh;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 43px;


}

/*Section 2 follows*/

.section_2 {
  height: 100vh;
  width: 100vw;
  background-color: #76C8A8;
}

.slide1wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide2wrap {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*section 3 follows*/

.section_3 {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

/*Section 4 follows*/

.section_4 {
  width: 100vw;
  height: 100vh;

}

.lookbook {
  width: 100vw;
  height: 100vh;

  position: relative;
  padding-top: 20px;

}

.lookbook_top {
  width: 189px;
  height: 284px;
  background-image: url(section_4_upper_right.png);
  margin-left: 45%;

  margin-bottom: 10px;
}

.lookbook_middle {
  width: 291px;
  height: 201px;
  background-image: url(./section_4_middle.png);

}

.lookbook_bottom {
  width: 258px;
  height: 172px;
  background-image: url(./section_4_bottom.png);
  background-repeat: no-repeat;
  background-position: 20px 60px;
  position: absolute;
  bottom: 0;
  right: 0;

}
